body {
  margin: 0;
  padding: 0;
  font: 12px "Microsoft Yahei", "宋体", "Source Han Sans SC", "Arial Narrow", HELVETICA, sans-serif;
  min-width: 1170px;
  background-color: #FFFFFF;
}

.container {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#news .container,
#products .container,
.cases .container {
  width: 1170px;
}

ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  /*Fixed the bug under IE8.*/
  border: none;
}

.breadcrumbs {
  border-bottom: 1px solid #D7D7D7;
}

.breadcrumbs ul li {
  display: inline-block;
}

.breadcrumbs ul li a {
  display: inline-block;
  color: #282828;
  font-size: 12px;
  margin-bottom: 11px;
}

.breadcrumbs ul li a::after {
  display: inline-block;
  content: ">";
  padding: 0 5px;
}

.breadcrumbs ul li a:hover {
  color: #138BCA;
}

.breadcrumbs ul li:last-of-type a::after {
  content: "";
}

.breadcrumbs ul li span {
  padding: 0 5px;
}

.pager {
  margin-top: 26px;
  text-align: center;
}

.pager .prev {
  margin-right: 18px;
}

.pager .next {
  margin-left: 18px;
}

.pager a,
.pager label,
.pager span {
  color: #232A3C;
  font-size: 14px;
}

.pager a {
  display: inline-block;
}

.pager .pages,
.pager .pages li {
  display: inline-block;
}

.pager .pages li {
  margin: 0 5px;
}

.pager .pages a {
  padding: 4px 9px;
}

.pager .pages a.active {
  color: #FFFFFF;
  background-color: #868686;
}

.pager .pages li.active a {
  color: #FFFFFF;
  background: #138BCA;
}

.pager .jumper {
  display: inline-block;
}

.pager .jumper #page {
  width: 30px;
  height: 22px;
  padding: 0 3px;
  border: 1px solid #C9D1E1;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 2px 2px 3px rgba(31, 41, 60, 0.08);
  -moz-box-shadow: inset 2px 2px 3px rgba(31, 41, 60, 0.08);
  box-shadow: inset 2px 2px 3px rgba(31, 41, 60, 0.08);
}

.light-gray {
  color: #999999;
}

.light-gray:hover {
  color: #138BCA;
}

.dark-gray {
  color: #C6C6C6;
}

.dark-gray:hover {
  color: #FFFFFF;
}

a.blue {
  color: #138BCA;
}

a.blue:hover {
  text-decoration: underline;
}

.date {
  display: inline-block;
  color: #999999;
  height: 18px;
  font-size: 12px;
  line-height: 16px;
  padding: 0 0 0 24px;
  background: 0 0 url('../image/detail_icon_time.png') no-repeat;
}

#header {
  position: relative;
  z-index: 2;
  margin: 0;
  height: 66px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.21);
}

#header .container {
  position: relative;
}

#header .container * {
  display: inline-block;
  height: 100%;
}

#header .container .logo::before {
  display: inline-block;
  content: " ";
  width: 1px;
  height: 100%;
  vertical-align: middle;
}

#header .container .logo img {
  width: auto;
  height: auto;
  vertical-align: middle;
}

#header .container .nav {
  margin: 0 0 0 43px;
}

#header .container .nav .menu li:hover {
  background-color: #2688D3;
}

#header .container .nav .menu li:hover a {
  color: #FFFFFF;
}

#header .container .nav .menu li a {
  color: #282828;
  padding: 0 21px;
  font-size: 14px;
  line-height: 66px;
}

#header .container .nav .menu li .sub-panel {
  position: absolute;
  display: none;
  /*top: 96px;*/
  height: auto;
  z-index: 1;
  padding: 23px 0 30px 22PX;
  white-space: nowrap;
  background-color: #F7F7F7;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#header .container .nav .menu li .sub-panel .sub-menu {
  display: inline-block;
  vertical-align: top;
}

#header .container .nav .menu li .sub-panel .sub-menu .title {
  color: #2E2E2E;
  margin: 0 0 12px 17px;
  font-size: 16px;
  font-weight: normal;
}

#header .container .nav .menu li .sub-panel .sub-menu .title a {
  color: #2E2E2E;
  padding: 0;
  font-size: 16px;
  line-height: normal;
}

#header .container .nav .menu li .sub-panel .sub-menu .title a:hover {
  color: #138BCA;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu {
  display: block;
  margin: 0;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu li {
  display: block;
  height: 26px;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu li a {
  display: inline-block;
  color: #282828;
  padding: 0 28px 0 9px;
  font-size: 12px;
  line-height: 26px;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu li a::before {
  content: "\00B7";
  padding-right: 4px;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu li:hover {
  background-color: #138BCA;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu li:hover a {
  color: #FFFFFF;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu.one-row {
  padding-right: 36px;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu.two-rows {
  width: 268px;
  white-space: normal;
  padding-right: 25px;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu.two-rows li {
  display: inline-block;
  width: 128px;
}

#header .container .nav .menu li .sub-panel .sub-menu .menu.two-rows li a {
  padding-right: 41px;
}

#header .container .nav .menu li:hover .sub-panel {
  display: block;
}

#header .container .functional {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 50px;
}

#header .container .functional .search {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

#header .container .functional .search .search-button {
  display: block;
  cursor: pointer;
  width: 31px;
  height: 31px;
  margin-top: 18px;
  background: 9px 8px url("../image/nav_icon_search.png") no-repeat;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

#header .container .functional .search .search-button.active {
  background: 9px -24px #138BCA url("../image/nav_icon_search.png") no-repeat;
}

#header .container .functional .search .search-input {
  position: absolute;
  display: none;
  top: 18px;
  right: 29px;
  width: 241px;
  height: 29px;
  border: none;
  outline: none;
  z-index: 999;
  padding: 0 0 0 14px;
  line-height: 29px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font: 12px "Microsoft Yahei", "宋体", "Source Han Sans SC", "Arial Narrow", HELVETICA, sans-serif;
}
/*@newsPanelWidth: @containerWidth / 2;*/
#gallery {
  position: relative;
  height: 420px;
  overflow: hidden;
}

#gallery .arrow {
  display: none;
  position: absolute;
  top: 42%;
  width: 38px;
  height: 54px;
  cursor: pointer;
  z-index: 2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  background: 0 0 url(../image/index_banner_icon_arrow.png) no-repeat;
}

#gallery .arrow:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

#gallery .arrow.prev {
  left: 30px;
}

#gallery .arrow.next {
  right: 30px;
  background-position: -76px 0;
}

#gallery #slider-box .slider {
  display: block;
  height: 420px;
}

#gallery .bx-viewport {
  border-top: none;
  border-bottom: none;
}

#gallery .bx-wrapper .bx-controls .bx-controls-direction {
  display: none;
}

#gallery .bx-wrapper .bx-controls .bx-pager {
  bottom: 28px;
}

#gallery .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
  width: 6px;
  height: 6px;
  border: 2px solid #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin: 0 16px 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

#gallery .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
  border: 2px solid #138BCA;
  background-color: #138BCA;
}

#content.index {
  margin-top: 0;
}

.digest-element {
  height: 100%;
  overflow: hidden;
}

.digest-element .digest-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  /*margin: 25px 0 0 0;*/
  background-color: #A1A1A1;
}

.digest-element .digest-link:hover .digest-panel {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.digest-element .digest-link:hover .digest-panel .digest-content {
  opacity: 1;
  bottom:0;
}

.digest-element .digest-link .digest-panel {
  position: absolute;
  left: 0;
  bottom: -56px;
  width: 100%;
  height: 95px;
  padding: 22px 23px 0 23px;
  overflow: hidden;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.digest-element .digest-link .digest-panel .digest-title {
  color: #FFFFFF;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.digest-element .digest-link .digest-panel .digest-content {
  opacity: 0;
  color: #FFFFFF;
  margin: 16px 0 0 0;
  height: 58px;
  overflow: hidden;
  white-space: pre-wrap;
  position:relative;
  bottom:-100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#news {
  padding: 27px 0 21px 0;
  white-space: nowrap;
}

#news .title {
  margin: 0;
  padding: 0;
}

#news .cell-title {
  position: relative;
}

#news .cell-title .title {
  display: inline-block;
  color: #282828;
  font-size: 18px;
  font-weight: normal;
  vertical-align: text-bottom;
}

#news .cell-title .more {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  vertical-align: text-bottom;
}

#news .container #events-container,
#news .container #topics-container {
  display: inline-block;
  width: 555px;
  /*height: 336px;*/
  /*overflow: hidden;*/
  vertical-align: top;
}

#news .container #events-container {
  /*width: 515px;*/
  padding-right: 33px;
}

#news .container #events-container .event {
  height: 131px;
  width: 100%;
  margin: 16px 0 0 0;
}

#news .container #events-container .event > * {
  display: inline-block;
}

#news .container #events-container .event .event-pic {
  width: 241px;
  height: 100%;
  margin-right: 20px;
}

#news .container #events-container .event .event-pic img {
  width: 100%;
  height: 100%;
}

#news .container #events-container .event .event-article {
  width: 280px;
  vertical-align: top;
}

#news .container #events-container .event .event-article .event-title {
  color: #282828;
  display: block;
  overflow: hidden;
  font-size: 14px;
  margin-top: 4px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#news .container #events-container .event .event-article .event-title:hover {
  color: #138BCA;
}

#news .container #events-container .event .event-article .event-digest {
  color: #999999;
  margin: 12px 0 16px 0;
  width: 100%;
  height: 50px;
  line-height: 17px;
  overflow: hidden;
  white-space: pre-wrap;
}

#news .container #events-container .event .event-article .event-details {
  position: relative;
  padding: 12px 0 4px 0;
  border-top: 1px solid #D7D7D7;
}

#news .container #events-container .event .event-article .event-details > * {
  display: inline-block;
}

#news .container #events-container .event .event-article .event-details .date {
  color: #999999;
}

#news .container #events-container .event .event-article .event-details .details {
  position: absolute;
  right: 0;
  bottom: 4px;
}

#news .container #topics-container {
  position: relative;
}

#news .container #topics-container .topic {
  width: 100%;
  height: 293px;
}

#news .container #topics-container .digest-element {
  height: 291px;
  margin: 16px 0 0 0;
}

#news .container #topics-container .digest-element .digest-panel {
  width: 509px;
}

#news .container #topics-container .digest-element .digest-panel .digest-content {
  margin-top: 16px;
  line-height: 20px;
}

#news .container #topics-container .digest-element .digest-link {
  height: 291px;
}

#products {
  padding: 27px 0 21px 0;
  white-space: nowrap;
  background-color: #F9F9F9;
}

#products .container {
  white-space: nowrap;
}

#products .cell-title {
  margin-bottom: 16px;
}

#products .product {
  display: inline-block;
  width: 270px;
  height: 216px;
  margin-right: 18px;
}

#products .product:last-of-type {
  margin-right: 0;
}

#products .digest-element {
  height: 215px;
}

#products .digest-element .digest-link .digest-panel {
  width: 224px;
}

#footer {
  clear: both;
  height: 174px;
  white-space: nowrap;
  background-color: #444444;
}

#footer .panel {
  height: 147px;
  display: inline-block;
  margin-top: 27px;
  vertical-align: top;
  white-space: normal;
}

#footer .panel .title {
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 14px;
}

#footer .panel li a,
#footer .panel li span {
  line-height: 26px;
}

#footer .panel li span {
  color: #C6C6C6;
}

#footer #about {
  width: 319px;
}

#footer #about .nav {
  width: 100%;
}

#footer #about .nav li {
  display: inline-block;
  margin-right: 36px;
}

#footer #contact .tel {
  margin-left: 10px;
}

#footer #social > * {
  display: inline-block;
  vertical-align: top;
}

#footer #social .wechat {
  width: 95px;
  height: 95px;
  margin: 0 21px 0 60px;
}

#footer #social .icons {
  vertical-align: top;
  margin-bottom: 13px;
}

#footer #social .icons .icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin-right: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #828282 url('../image/foot_icon.png') no-repeat;
}

#footer #social .icons .icon.weibo {
  background-position: 6px 6px;
}

#footer #social .icons .icon.weibo:hover {
  background-color: #FF8400;
}

#footer #social .icons .icon.blog {
  background-position: 8px -58px;
}

#footer #social .icons .icon.blog:hover {
  background-color: #138BCA;
}

#footer #social .copyright p {
  color: #828282;
  line-height: 18px;
}

#banner {
  height: 215px;
  background-color: #DCE4E7;
}

#banner .title {
  display: inline-block;
  color: #0F3049;
  margin: 85px 0 14px 0;
  font-size: 30px;
}

#banner .description {
  color: #0F3049;
  font-size: 14px;
}

#content {
  margin-top: 33px;
  min-height: 450px;
}

.page-content {
  width: 795px;
  margin-top: 33px;
  padding-bottom: 70px;
}

.page-content .content .article-title {
  color: #138BCA;
  margin: 27px 0 18px 0;
  font-size: 25px;
}

.page-content .content p {
  color: #282828;
  font-size: 14px;
  line-height: 30px;
}

.page-nav {
  float: right;
  width: 281px;
  margin: -2px 0 70px 54px;
}

.page-nav .page-nav-header {
  padding: 24px 20px 17px 23px;
  background-color: #2688D3;
}

.page-nav .page-nav-header .page-nav-title {
  color: #FFFFFF;
  font-size: 18px;
}

.page-nav .page-nav-header .page-nav-sub-title {
  color: #8CCDFF;
  display: block;
  font: 10px Arial;
  -webkit-transform: scale(0.83);
  -webkit-transform-origin-x: 0;
}

.page-nav .page-nav-body .menu li {
  clear: both;
  cursor: pointer;
  position: relative;
  padding: 14px 0 14px 23px;
  margin: 1px 0;
  border-left: 4px solid #F0F0F0;
  background-color: #F0F0F0;
}

.page-nav .page-nav-body .menu li a {
  display: inline-block;
  color: #282828;
  width: 100%;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-nav .page-nav-body .menu li.active {
  border-left-color: #2688D3;
}

.page-nav .page-nav-body .menu li.active a {
  color: #138BCA;
}

.page-nav .page-nav-body .menu li.active .sub-menu {
  display: block;
}

.page-nav .page-nav-body .menu li:hover a {
  color: #138BCA;
}

.page-nav .page-nav-body .menu li:hover .sub-memu {
  display: block;
}

.page-nav .page-nav-body .menu .sub-menu {
  display: none;
  float: right;
  width: 280px;
  margin: 14px 0 0 0;
}

.page-nav .page-nav-body .menu .sub-menu li {
  padding-top: 7px;
  padding-bottom: 7px;
  border-left: none;
  background-color: #F9F9F9;
}

.page-nav .page-nav-body .menu .sub-menu li a {
  display: inline-block;
  color: #282828;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-nav .page-nav-body .menu .sub-menu li a::before {
  content: "\00B7";
  padding-right: 4px;
}

.page-nav .page-nav-body .menu .sub-menu li:hover a,
.page-nav .page-nav-body .menu .sub-menu li.active a {
  color: #138BCA;
}

.list-cell {
  width: 100%;
  white-space: nowrap;
  padding: 24px 0 14px 0;
  border-bottom: 1px solid #D7D7D7;
}

.list-cell > * {
  display: inline-block;
  vertical-align: top;
}

.list-cell .list-pic,
.list-cell .list-pic img {
  width: 241px;
  height: 131px;
}

.list-cell .list-pic {
  margin-right: 20px;
}

.list-cell .list-content {
  height: 131px;
  width: 534px;
}

.list-cell .list-content .list-title {
  display: block;
  color: #282828;
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.list-cell .list-content .list-digest {
  color: #999999;
  width: 100%;
  height: 55px;
  margin: 18px 0 8px 0;
  overflow: hidden;
  line-height: 18px;
  white-space: normal;
}

.article-content {
  font-size: 14px;
  line-height: 30px;
}

.article-content li {
  list-style-type: disc;
}

.article-content .article-title {
  color: #138BCA;
  margin: 27px 0 18px 0;
  font-size: 25px;
}

.article-content .job-cell {
  margin-bottom: 41px;
}

.article-content .job-cell table.job {
  border: none;
  text-align: left;
}

.article-content .job-cell table.job th {
  width: 70px;
  height: auto;
  border: none;
  vertical-align: top;
  background: #FFFFFF;
  -webkit-filter: none;
  filter: none;
}

.article-content .job-cell table.job td {
  height: auto;
  border: none;
  font-size: 14px;
  text-align: left;
  line-height: 30px;
  vertical-align: top;
}

#back-to-top {
  display: none;
  position: fixed;
  cursor: pointer;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 300px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #000000 12px 11px url(../image/arrow.png) no-repeat;
  background: rgba(0, 0, 0, 0.2) 12px 11px url(../image/arrow.png) no-repeat;
}

#back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#banner.news {
  background: url('../image/news_banner.jpg') no-repeat;
}

#news-lists .list-cell .list-content .list-title:hover {
  color: #138BCA;
}

#banner.product-list {
  background: url('../image/product_banner.jpg') no-repeat;
}

.content-lists .intro {
  margin: 35px 0 11px 0;
}

.content-lists .intro .title {
  color: #138BCA;
  font-size: 25px;
  margin-bottom: 11px;
}

.content-lists .intro .description {
  color: #282828;
  font-size: 14px;
  line-height: 30px;
}

.content-lists .list-cell {
  border-bottom: none;
}

.content-lists .list-cell .list-content {
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 11px;
}

.content-lists .list-cell .list-content .list-title {
  color: #282828;
  font-size: 20px;
  margin-bottom: 6px;
}

.content-lists .list-cell .list-content .list-title:hover {
  color: #138BCA;
}

.content-lists .list-cell .list-content .list-sub-title {
  color: #999999;
  font-size: 12px;
  margin-bottom: 11px;
}

.content-lists .list-cell .list-content .list-digest {
  color: #282828;
  height: 46px;
  font-size: 12px;
  line-height: 21px;
}

.content-lists.solution .list-cell .list-pic {
  width: 181px;
  height: 111px;
  margin-right: 34px;
}

.content-lists.solution .list-cell .list-pic img {
  width: 181px;
  height: 111px;
}

#content.news-detail {
  margin-top: 43px;
}

#news-detail .news-information {
  margin: 32px 0 44px 0;
}

#news-detail .news-information .news-title {
  color: #282828;
  font-size: 28px;
  margin-bottom: 20px;
}

#news-detail .news-information .miscellaneous {
  overflow: hidden;
}

#news-detail .news-information .miscellaneous .date,
#news-detail .news-information .miscellaneous .jiathis_style {
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
}

#news-detail .news-information .miscellaneous .jiathis_style {
  margin-left: 23px;
}

#news-detail .news-information .miscellaneous .jiathis_style .share.more {
  margin-right: 5px;
  background: -1px -32px url('../image/detail_icon_time.png') no-repeat !important;
}

#news-detail .news-information .miscellaneous .jiathis_style .jtico_tsina {
  background: -1px 0 url('../image/detail_icon_share.png') no-repeat !important;
}

#news-detail .news-information .miscellaneous .jiathis_style .jtico_weixin {
  background: -1px -32px url('../image/detail_icon_share.png') no-repeat !important;
}

#news-detail .news-information .miscellaneous .jiathis_style .jtico_twitter {
  background: -1px -65px url('../image/detail_icon_share.png') no-repeat !important;
}

#news-detail .news-information .miscellaneous .jiathis_style .jtico_fb {
  background: -2px -96px url('../image/detail_icon_share.png') no-repeat !important;
}

#news-detail .news-information .miscellaneous .jiathis_style .jtico_googleplus {
  background: -2px -128px url('../image/detail_icon_share.png') no-repeat !important;
}

#news-detail .news-information .miscellaneous .navigation {
  float: right;
}

#news-detail .news-information .miscellaneous .navigation .prev,
#news-detail .news-information .miscellaneous .navigation .next {
  display: inline-block;
  width: 21px;
  height: 30px;
  cursor: pointer;
  background: url('../image/detail_icon_arrow.png') no-repeat;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
}

#news-detail .news-information .miscellaneous .navigation .prev {
  margin-right: -2px;
  background-position: 2px 7px;
}

#news-detail .news-information .miscellaneous .navigation .next {
  background-position: 2px -25px;
}

#news-detail .news-information .miscellaneous .navigation .prev:hover,
#news-detail .news-information .miscellaneous .navigation .next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#banner.support {
  background-image: url(../image/support_banner.jpg);
}

#banner.product {
  background-image: url(../image/product_banner.jpg);
}

.article-nav {
  margin-top: 64px;
}

.article-nav .cell {
  margin: 0 42px;
  display: inline-block;
  text-align: center;
}

.article-nav .cell .icon {
  width: 110px;
  height: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #F1F1F1 url(../image/support_server_icon.png) no-repeat;
}

.article-nav .cell .icon.solution {
  background-position: -187px 4px;
}

.article-nav .cell .icon.compatibility {
  background-position: -184px -188px;
}

.article-nav .cell .icon.document {
  background-position: -184px -380px;
}

.article-nav .cell .icon.education {
  background-position: -186px -572px;
}

.article-nav .cell .article-nav-title {
  display: inline-block;
  color: #282828;
  font-size: 16px;
  margin-top: 16px;
}

.article-nav .cell:hover .icon {
  background-color: #138BCA;
}

.article-nav .cell:hover .icon.solution {
  background-position: 4px 4px;
}

.article-nav .cell:hover .icon.compatibility {
  background-position: 8px -188px;
}

.article-nav .cell:hover .icon.document {
  background-position: 8px -380px;
}

.article-nav .cell:hover .icon.education {
  background-position: 8px -572px;
}

.article-nav .cell:hover .article-nav-title {
  color: #138BCA;
}

.downloads li {
  height: 54px;
  padding: 0 62px 0 23px;
  border-bottom: 1px solid #F0F0F0;
}

.downloads li .document-title,
.downloads li .down {
  display: inline-block;
  line-height: 54px;
}

.downloads li .document-title::before {
  content: "\00B7";
  padding-right: 4px;
}

.downloads li:nth-of-type(odd) {
  background-color: #F9F9F9;
}

.downloads li:nth-of-type(even) {
  background-color: #FFFFFF;
}

.downloads li:hover {
  background-color: #F5F5F5;
}

.downloads li .down {
  float: right;
  margin-top: 20px;
  width: 15px;
  height: 14px;
  background: -1px 0 url(../image/detail_icon_download.png) no-repeat;
}

.downloads li .down:hover {
  background-position: -1px -32px;
}

.content-lists.product .list-cell {
  padding-top: 14px;
}

.content-lists.product .list-cell .list-pic {
  width: 201px;
}

.content-lists.product .list-cell .list-pic img {
  width: 80px;
  height: 80px;
  padding: 16px 73px 0 60px;
}

.content-lists.product .list-cell .list-content {
  padding-bottom: 0;
}

#banner.cases {
  background: url(../image/cases_banner.jpg) no-repeat;
}

.case-logo {
  display: inline-block;
  width: 149px;
  height: 66px;
  margin: 0 5px 5px 0px;
  border: 1px solid #E0E0E0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.case-logo img {
  width: 100%;
  height: 66px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.case-logo.last-of-row {
  margin-right: 0;
  margin-left: 1px;
}

.users-cell {
  margin-bottom: 40px;
}

.users-cell .users li {
  display: inline-block;
  width: 390px;
  font-size: 14px;
  line-height: 30px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.users-cell .users li::before {
  display: inline-block;
  content: "\00b7";
  margin-right: 6px;
}

#banner.about {
  background-image: url(../image/about-us_banner.jpg);
}

.milestones {
  margin: 36px 0 0 164px;
}

.milestones .milestone {
  position: relative;
  padding: 0 0 73px 42px;
  border-left: 1px solid #D7D7D7;
}

.milestones .milestone .year {
  position: absolute;
  top: -4px;
  left: -83px;
  color: #CBCBCB;
  font-size: 28px;
}

.milestones .milestone .circle {
  position: absolute;
  top: 8px;
  left: -8px;
  display: inline-block;
  width: 9px;
  height: 9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #2688D3;
  background-color: #FFFFFF;
}

#content.duty,
#content.culture {
  margin-top: 0;
}

#content.duty .intro,
#content.culture .intro {
  height: 434px;
  background: 0 0 url(../image/about-us_responsibility_bg.png) no-repeat;
}

#content.duty .intro .title,
#content.culture .intro .title {
  color: #FFFFFF;
  font-size: 36px;
  padding: 167px 0 4px 0;
}

#content.duty .intro .sub-title,
#content.culture .intro .sub-title {
  color: #000000;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
}

#content.duty .content,
#content.culture .content {
  margin: 70px 0;
}

#content.duty .content .cell,
#content.culture .content .cell {
  display: inline-block;
  width: 235px;
  margin-right: 57px;
  vertical-align: top;
}

#content.duty .content .cell:last-of-type,
#content.culture .content .cell:last-of-type {
  margin-right: 0;
}

#content.duty .content .cell .cell-title,
#content.culture .content .cell .cell-title {
  margin-bottom: 11px;
}

#content.duty .content .cell .cell-title .icon,
#content.culture .content .cell .cell-title .icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  background: #128BCA url(../image/about_us_responsibility_icon.png) no-repeat;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#content.duty .content .cell .cell-title .icon.faith,
#content.culture .content .cell .cell-title .icon.faith {
  background-position: 2px 2px;
}

#content.duty .content .cell .cell-title .icon.user,
#content.culture .content .cell .cell-title .icon.user {
  background-position: 3px -62px;
}

#content.duty .content .cell .cell-title .icon.open-source,
#content.culture .content .cell .cell-title .icon.open-source {
  background-position: 3px -125px;
}

#content.duty .content .cell .cell-title .icon.open,
#content.culture .content .cell .cell-title .icon.open {
  background-position: 3px -189px;
}

#content.duty .content .cell .cell-title .title,
#content.culture .content .cell .cell-title .title {
  display: inline-block;
  color: #282828;
  font-size: 30px;
  vertical-align: middle;
}

#content.duty .content .cell .cell-content,
#content.culture .content .cell .cell-content {
  color: #999;
  font-size: 12px;
  line-height: 26px;
}

#content.culture .intro {
  background: 0 0 url('../image/about_us_culture_bg.jpg') no-repeat;
}

#content.culture .intro .title {
  padding-top: 118px;
}

#content.culture .content .cell {
  width: 335px;
  margin: 0 35px 58px 0;
  white-space: nowrap;
}

#content.culture .content .cell .icon {
  display: inline-block;
  height: 64px;
  width: 64px;
  margin-right: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #128BCA;
  vertical-align: top;
  background: #138BCA url(../image/about_us_culture_icon.png) no-repeat;
}

#content.culture .content .cell .icon.duty {
  background-position: -1px -2px;
}

#content.culture .content .cell .icon.value {
  background-position: -1px -384px;
}

#content.culture .content .cell .icon.philosophy {
  background-position: -1px -127px;
}

#content.culture .content .cell .icon.product {
  background-position: 0 -514px;
}

#content.culture .content .cell .icon.position {
  background-position: 3px -255px;
}

#content.culture .content .cell .cell-container {
  display: inline-block;
  width: 250px;
  white-space: normal;
  vertical-align: top;
}

#content.culture .content .cell .cell-container .cell-title {
  color: #282828;
  font-size: 30px;
  margin-bottom: 10px;
}

#content.culture .content .cell .cell-container .cell-content {
  color: #282828;
  font-size: 14px;
  line-height: 21px;
}
/*
#content.culture {

    height: 806px;
    margin-top: 0;
    background: 50% 50% url(../image/about-us_culture_bg.png) no-repeat;

    .page-title {

        display: inline-block;
        margin-top: 85px;
        .title {
            color: #FFFFFF;
            font-size: 36px;
        }

        .sub-title {
            color: #FFFFFF;
            color: rgba(255, 255, 255, .3);
            font-size: 18px;
        }
    }

    .page-content {
        margin-left: 336px;

        .cell {
            display: inline-block;
            margin-left: 48px;
            margin-bottom: 48px;

            .icon {
                display: inline-block;
                width: 64px;
                height: 64px;
                margin-right: 22px;
                border-radius: 50%;
                vertical-align: top;
                background: #FFFFFF url(../image/about_us_culture_icon.png) no-repeat;

                &.duty {
                    background-position: -1px -2px;
                }

                &.value {
                    background-position: -1px -384px;
                }

                &.philosophy {
                    background-position: -1px -127px;
                }

                &.product {
                    background-position: 0 -514px;
                }

                &.position {
                    background-position: 3px -255px;
                }
            }

            .cell-content {
                display: inline-block;
                vertical-align: top;
                width: 255px;
                margin-top: -6px;

                .cell-title {
                    color: #FFFFFF;
                    font-size: 30px;
                    margin-bottom: 4px;
                }

                p {
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }
}
*/
#content.contact {
  margin: 69px 0 70px 0;
}

#content.contact .map,
#content.contact .information {
  display: inline-block;
  vertical-align: top;
}

#content.contact .map {
  width: 515px;
  height: 594px;
  margin-right: 70px;
}

#content.contact .information .article-title {
  color: #138BCA;
  font-size: 25px;
  margin-bottom: 37px;
}

#content.contact .information .view {
  display: inline-block;
  color: #138BCA;
  cursor: pointer;
  margin-left: 19px;
  font-size: 12px;
  vertical-align: middle;
}

#content.contact .information .global,
#content.contact .information .emails .email {
  margin-bottom: 12px;
}

#content.contact .information .global .company,
#content.contact .information .emails .email {
  color: #282828;
  display: inline-block;
  font-size: 21px;
  padding-left: 38px;
  vertical-align: middle;
  background: -3px -3px url('../image/contact_us_icon.png') no-repeat;
}

#content.contact .information .emails .email {
  background-position: -3px -64px;
}

#content.contact .information .base {
  margin-bottom: 25px;
}

#content.contact .information .base:last-of-type {
  margin-bottom: 29px;
}

#content.contact .information .base .location {
  margin-bottom: 2px;
}

#content.contact .information .base .location .company {
  display: inline-block;
  color: #2E2E2E;
  font-size: 18px;
  vertical-align: middle;
}

#content.contact .information .emails {
  padding-top: 28px;
  border-top: 1px solid #E4E4E4;
}

#content.contact .info {
  color: #282828;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.honors {
  font-size: 0;
}

.honors .honor,
.honors .honor-container {
  display: inline-block;
  vertical-align: top;
}

.honors .honor > .honor,
.honors .honor-container > .honor {
  margin: 0;
}

.honors .honor {
  position: relative;
  overflow: hidden !important;
}

.honors .honor .honor-content {
  width: 100%;
  height: 100%;
  bottom: -100%;
  position: absolute;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 0 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.honors .honor .honor-content .placeholder {
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}

.honors .honor .honor-content .honor-title {
  display: inline-block;
  color: #FFFFFF;
  font-size: 18px;
  vertical-align: middle;
  white-space: normal;
}

.honors .honor:hover .honor-content {
  bottom: 0 !important;
}

.honors .honor-container.four {
  width: 397px;
}

.honors .honor-container.two {
  width: 194px;
}

.honors .more {
  width: 100%;
}

.honors .more .show-more {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.honors .more .show-more .link {
  color: #138BCA;
  cursor: pointer;
  font-size: 18px;
}

.honors .more .honors {
  display: none;
}

.filters {
  margin-top: 20px;
}

.filters .title {
  color: #138BCA;
  display: inline-block;
  padding: 0;
  font-size: 25px;
  line-height: 60px;
  vertical-align: top;
}

.filters .anchors {
  display: inline-block;
  line-height: 60px;
  vertical-align: top;
}

.filters .anchors li {
  display: inline-block;
  line-height: 60px;
}

.filters .anchors li a {
  color: #FFFFFF;
  cursor: pointer;
  height: 23px;
  padding: 3px 23px 3px 13px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: right #138BCA url(../image/tag_icon_close.png) no-repeat;
}

.categories {
  border: 1px solid #EAEAEA;
  padding: 37px 36px 20px 36px;
  background-color: #F9F9F9;
}

.categories .cell {
  white-space: nowrap;
  position: relative;
}

.categories .cell ul,
.categories .cell li {
  display: inline-block;
}

.categories .cell ul {
  width: 972px;
  height: 22px;
  overflow: hidden;
  margin: 0 0 20px 0;
  white-space: normal;
}

.categories .cell ul li {
  margin-right: 12px;
}

.categories .cell ul li a {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.categories .cell ul li:hover a {
  color: #138BCA;
}

.categories .cell ul li.active {
  color: #138BCA;
  vertical-align: top;
  line-height: 22px;
}

.categories .cell ul li.active a {
  color: #138BCA;
}

.categories .cell span,
.categories .cell a {
  display: inline-block;
  color: #2E2E2E;
  font-size: 12px;
  line-height: 22px;
  vertical-align: top;
}

.categories .cell > span {
  width: 84px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: top;
  font-weight: bold;
}

.categories .cell.level ul {
  overflow: visible;
}

.categories .cell .show-more {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 22px;
  background: -3px 3px url(../image/support_icon_arror.png) no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.categories .cell .show-more.active {
  background-position: -3px -29px;
}

.categories .cell.multiple-lines .show-more {
  display: block;
}

.categories .extra {
  cursor: default;
  display: inline-block;
  position: relative;
  padding: 0 0 0 18px;
  background: 0 4px url('../image/icon_question.png') no-repeat;
}

.categories .extra .description {
  color: #808080;
}

.categories .extra .content-panel {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  width: 456px;
  border: 1px solid #FCE3CA;
  padding: 25px 33px 25px 26px;
  background-color: #FFFAF4;
}

.categories .extra .content-panel .content {
  color: #2E2E2E;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 26px;
}

.categories .extra:hover .content-panel {
  display: block;
}

.detail-panel {
  text-align: center;
  min-height: 300px;
  padding-bottom: 20px;
}

.detail-panel .details {
  text-align: center;
  width: 100%;
  margin-top: 12px;
  border: 1px solid #EAEAEA;
  border-collapse: collapse;
}

.detail-panel .details th {
  height: 39px;
  border: 1px solid #EAEAEA;
  vertical-align: middle;
  background: #FEFEFE;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEFEFE), color-stop(100%, #F2F2F2));
  background: -webkit-linear-gradient(top, #FEFEFE 0%, #F2F2F2 100%);
  background: -moz-linear-gradient(top, #FEFEFE 0%, #F2F2F2 100%);
  background: -o-linear-gradient(top, #FEFEFE 0%, #F2F2F2 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F2F2F2));
  background: linear-gradient(to bottom, #FEFEFE 0%, #F2F2F2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F2F2F2', GradientType=0);
  font-size: 14px;
}

.detail-panel .details td {
  height: 59px;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #EAEAEA;
  color: #2E2E2E;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  border-collapse: collapse;
}

.detail-panel .details tr:nth-of-type(odd) {
  background-color: #F9F9F9;
}

#compatibility .compatibility-content {
  padding: 32px 0;
  margin-bottom: 40px;
}

#compatibility .pager {
  margin-top: 0;
}
